<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style/style.css">

    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <header>

    </header>
    <main>
        <div class="container" id="app">
            <div class="d-flex">
                <div class=" container-contatti">
                    <div class="nav-top-user d-flex">
                        <div class="user-img me-3">
                            <img src="img/avatar_io.jpg" alt="">
                        </div>
                        <span>Io</span>
                        <div class="button-peronals d-flex">
                            <button class="btn btn-link"><i class="bi bi-arrow-repeat"></i></button>
                            <button class="btn btn-link"><i class="bi bi-chat-left-fill"></i></button>
                        </div>
                    </div>
                    <div class="container-setting-note mt-3 d-flex">
                        <i class="bi bi-bell-slash-fill banner-note"></i>
                        <div class="text-settin-note ">
                            <h4>Ricevi notifice</h4>
                            <a href="">Attiva notifiche</a>
                        </div>
                    </div>
                    <div class="input-chat d-flex">
                        <i class="bi bi-search"></i>
                        <input type="text" class="input-group p-2 border-0" placeholder="Chat">
                    </div>

                    <div class="container-list">
                        <ul class="list-group chtat">
                            <li class="list-group-item list-group-item-action d-flex flex-column"@click="openChat(item)" v-for="(item,i) in contatti">
                                <div class="user-img">
                                    <img :src="myAvatar" alt="">
                                </div>
                                <span  class="name-user">{{item['name']}}</span>
                                <span>ultimo messaggio{{lastDate(item)}}</span>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="container-messaggi overflow-hidden"v-if="open === true">
                    <div class="nav-user-chat d-flex align-items-center">
                        <div class="user-img">
                            <img :src="pathAvatar" alt="">
                        </div>
                        <h2>{{currentUser['name']}}</h2>
                        <div class="box-buttons-user">
                            <i class="bi bi-search"></i>
                            <i class="bi bi-paperclip"></i>
                        </div>

                    </div>
                    <div class="box-chat-user overflow-auto" >
                        <div class="btn btn-primary messaggiRicevuti mt-3" v-for="messaggio in messaggiRicevuti">
                            {{messaggio['message']}} {{messaggio['date']}}</div>
                        <div class="btn btn-primary messaggiInviati mt-3" v-for="messaggio in messaggiInviati">
                            {{messaggio['message']}} {{messaggio['date']}}</div>
                    </div>
                    <div class="input-chat">
                        <button class="btn btn-link"><i class="bi bi-emoji-smile"></i></button>
                        <input class="text-input" type="text" name="" id="" placeholder="srivi un messaggio"
                            v-model="newMessage.message" @keyup.enter="addNewMessage()">
                        <button class="btn btn-link"><i class="bi bi-mic"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="js/contatti.js"></script>
    <script src="js/main.js"></script>
</body>

</html>